.app{
  width: 60%;
  margin: auto;
}

input {
  width: 25px;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.MF, .Sat, .Sun, .PH{
  margin: 20px;
}

#rate {
  width: 40px;
}

select {
  margin: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 10%;
  background-color: rgb(156, 196, 241);
  margin: 5px;
}

body {
  background-color: aliceblue;
}