.app{
  width: 60%;
  margin: auto;
}

@media (max-width: 1300px) {
  .app{
      width: 80%;
  }
}

@media (max-width: 975px) {
  .app{
      width: 95%;
  }
}

@media (max-width: 825px) {
  .container {
    flex-direction: column;
  }
  .MF,
  .Sat,
  .Sun,
  .PH {
    width: 100%; /* Full width for each div when stacked */
  }
}

input {
  width: 25px;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.MF, .Sat, .Sun, .PH{
  margin: 20px;
}

#rate {
  width: 40px;
}

select {
  margin: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 10%;
  background-color: rgb(156, 196, 241);
  margin: 5px;
}

body {
  background-color: aliceblue;
}

